@media (max-width: 768px){
    /* Make image size smaller only */
    .frontcampus-photo{
        width: 300px;
        margin-bottom: 25px;
    }
    
    /* Pull text below image */
    .academicseminar-photo{
        float: none;
        margin-right: 0px;
        margin-bottom: 50px;
    }
}


@media (max-width: 500px){
    /* Pull text below image */
    .frontcampus-photo{
        width: 350px;
        float: none;
        margin-left: 0px;
        margin-bottom: 50px;
    }
    
    /* Make image size smaller only */
    .academicseminar-photo{
        width: 350px;
        height: 275px;
    }
}

@media (max-width: 400px){
    .frontcampus-photo{
        width: 275px;
        
    }
    
    .academicseminar-photo{
        width: 275px;
        height: 200px;
    }
}

/* Making image smaller for smallest possible screen */
@media (max-width: 325px){
    .frontcampus-photo{
        width: 225px;
    }
    
    .academicseminar-photo{
        width: 225px;
        height: 150px;
    }
}
