@media (max-width: 768px){
    /* Make image size smaller only */
    .frontcampus-photo{
        width: 300px;
        margin-bottom: 25px;
    }
    
    /* Pull text below image */
    .academicseminar-photo{
        float: none;
        width: 100%;
        height: auto;
        margin-right: 0px;
        margin-bottom: 50px;
    }
}


@media (max-width: 500px){
    /* Pull text below image */
    .frontcampus-photo{
        float: none;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 50px;
    }
}
